.slider {
    display: flex;
    overflow-x: auto;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 2rem;
  }
  
  .card2 {
    flex: 0 0 calc(25% - 20px);
    margin: 0 10px;
    margin-top: 2rem;
    text-align: center;
    background-color: #fff;
    background-color: #ff00d024;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out 0.1s;
    border-radius: 5px;
    padding: 1rem;
    
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
 /* .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } */
  .card2 .img {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card2 .img svg {
    width: 60%;
    height: auto;
  }
  
  .card2 h2 {
    margin: 10px 0;
  }
  
  .card2 p {
    margin: 0 10px 10px 10px;
  }

 .dropdown-toggle {
    margin: auto;
    padding: 5px 18px;
    font-size: 16px;
    color: #fff;
    background-color: #0800ff77;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
    
  }
  
  .card2 .dropdown {
    position: absolute;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    top: 50%;
  }
  .card2 .dropdown-item {
    padding: 10px;
    font-size: 14px;
    color: #444;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .card2 .dropdown-item:hover {
    background-color: #f9f9f9;
  }
  .slider::-webkit-scrollbar {
    width: 0;
    height: 0;
  }